/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Ruhl";
  src: url("./fonts/FrankRuhlLibre-Regular.ttf");
}

@font-face {
  font-family: "Ruhl Medium";
  src: url("./fonts/FrankRuhlLibre-Medium.ttf");
}

@font-face {
  font-family: "Vibes";
  src: url("./fonts/GreatVibes-Regular.ttf");
}

html {
  font-size: 62.5%;
  --header1-font-size: calc(2rem + 1vw);
  --header2-font-size: calc(3.5rem + 1vw);
  --header3-font-size3: calc(3rem + 1vw);
  --header4-font-size: calc(2.4rem + 1vw);
  --text-font-size: calc(1.5rem + 1vw);
  --big-text-font-size: calc(2.4rem + 1vw);
  --main-color: #414141;
  --accent-color: #906272;
  --gray-text: #525252;
}

h1 {
  font-size: var(--header1-font-size);
  font-family: "Vibes", sans-serif;
}

h2 {
  font-size: var(--header2-font-size);
}

h3 {
  font-size: var(--header3-font-size3);
}

h4,
h5 {
  font-size: var(--header4-font-size3);
}

li,
button,
label,
input,
p {
  font-size: var(--text-font-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Ruhl", sans-serif;
}
